---
name: Zhome Jenkins
version: V8.1
slug: zhomejenkins
description: Jenkins
panel_title: Jenkins
panel_icon: mdi:alpha-j-circle-outline
webui: "http://[HOST]:[PORT:8080]"
init: false
hassio_api: true
auth_api: true
homeassistant_api: true
arch:
  - aarch64
  - amd64
  - armv7
privileged: 
  - NET_ADMIN
ports: 
  8080/tcp: 8080
ports_description:
  8080/tcp: Web interface (Not required for Ingress) HTTP traffic
map:
  - addon_config:rw
  - homeassistant_config:rw
  - media:rw
  - share:rw
  - ssl:rw
backup_exclude:
  - "**/jenkins/workspace/**"
  - "**/jenkins/logs/**"
  - "**/jenkins/caches/**"